E5-NodeRED/Q2/clipboard.txt
[{"id":"ce88b020.74a1e","type":"http in","z":"42677cc4.280d14","name":"","url":"/actuators","method":"get","upload":false,"swaggerDoc":"","x":222,"y":97,"wires":[["21b75733.d2dae8"]]},{"id":"21b75733.d2dae8","type":"function","z":"42677cc4.280d14","name":"","func":"msg.payload = \"{'actuators' : /leds}\";\nreturn msg;","outputs":1,"noerr":0,"x":399,"y":97,"wires":[["4079276b.a58f38"]]},{"id":"4079276b.a58f38","type":"debug","z":"42677cc4.280d14","name":"","active":true,"console":"false","complete":"false","x":603,"y":98,"wires":[]},{"id":"8a611841.14f4b8","type":"http in","z":"42677cc4.280d14","name":"","url":"/actuators/leds","method":"get","upload":false,"swaggerDoc":"","x":237,"y":166,"wires":[["1f55ff02.679f11"]]},{"id":"1f55ff02.679f11","type":"function","z":"42677cc4.280d14","name":"","func":"msg.payload = '{\"leds\" : /led#}';\nreturn msg;","outputs":1,"noerr":0,"x":404,"y":166,"wires":[["6809f946.853358"]]},{"id":"6809f946.853358","type":"debug","z":"42677cc4.280d14","name":"","active":true,"console":"false","complete":"false","x":608,"y":167,"wires":[]},{"id":"8088c82.d6f1238","type":"http in","z":"42677cc4.280d14","name":"","url":"/actuators/leds/led#","method":"get","upload":false,"swaggerDoc":"","x":254,"y":230,"wires":[["27b7cf12.2d008"]]},{"id":"27b7cf12.2d008","type":"function","z":"42677cc4.280d14","name":"","func":"msg.payload = '{\"led#\" : Vermelho}';\nreturn msg;","outputs":1,"noerr":0,"x":469,"y":229,"wires":[["d492202d.097f9"]]},{"id":"d492202d.097f9","type":"debug","z":"42677cc4.280d14","name":"","active":true,"console":"false","complete":"false","x":673,"y":230,"wires":[]},{"id":"134b7a13.4aa666","type":"http in","z":"42677cc4.280d14","name":"","url":"/sensors/temperature","method":"get","upload":false,"swaggerDoc":"","x":249,"y":365,"wires":[["4fad3bb0.f67174"]]},{"id":"4fad3bb0.f67174","type":"function","z":"42677cc4.280d14","name":"","func":"\nfunction randomInt (low, high) {\n  return Math.floor(Math.random() * (high - low) + low);\n}\n\nmsg.payload = '{\"temperature\" :' + randomInt(1, 40) + '}';\nreturn msg;","outputs":1,"noerr":0,"x":459,"y":364,"wires":[["3d9cbaf.2927146"]]},{"id":"3d9cbaf.2927146","type":"debug","z":"42677cc4.280d14","name":"","active":true,"console":"false","complete":"false","x":663,"y":365,"wires":[]},{"id":"eb5241e9.40724","type":"http in","z":"42677cc4.280d14","name":"","url":"/sensors/light","method":"get","upload":false,"swaggerDoc":"","x":234,"y":434,"wires":[["d6783ed5.f9e3a"]]},{"id":"d6783ed5.f9e3a","type":"function","z":"42677cc4.280d14","name":"","func":"\nfunction randomInt (low, high) {\n  return Math.floor(Math.random() * (high - low) + low);\n}\n\nmsg.payload = '{\"light\" :' + randomInt(1, 100) + '}';\nreturn msg;","outputs":1,"noerr":0,"x":435,"y":434,"wires":[["1210beca.395361"]]},{"id":"1210beca.395361","type":"debug","z":"42677cc4.280d14","name":"","active":true,"console":"false","complete":"false","x":605,"y":435,"wires":[]},{"id":"47a38222.ab51ac","type":"http in","z":"42677cc4.280d14","name":"","url":"/sensors","method":"get","upload":false,"swaggerDoc":"","x":209,"y":313,"wires":[["b941e712.d98578"]]},{"id":"b941e712.d98578","type":"function","z":"42677cc4.280d14","name":"","func":"msg.payload = '\"sensors\" : [\"/temperature\",\"/light\",\"/buttons\",\"/acce1\",\"/tilt\"]';\nreturn msg;","outputs":1,"noerr":0,"x":377,"y":312,"wires":[["c922fb4b.bdefc8"]]},{"id":"c922fb4b.bdefc8","type":"debug","z":"42677cc4.280d14","name":"","active":true,"console":"false","complete":"false","x":562,"y":313,"wires":[]},{"id":"5a6a5b52.5b8f54","type":"http in","z":"42677cc4.280d14","name":"","url":"/sensors/buttons/1","method":"get","upload":false,"swaggerDoc":"","x":238,"y":561,"wires":[["b1ac2fe8.d1a1b"]]},{"id":"b1ac2fe8.d1a1b","type":"function","z":"42677cc4.280d14","name":"","func":"msg.payload = '{\"1\" : button 1}';\nreturn msg;","outputs":1,"noerr":0,"x":458,"y":560,"wires":[["78c8e587.6b8a6c"]]},{"id":"78c8e587.6b8a6c","type":"debug","z":"42677cc4.280d14","name":"","active":true,"console":"false","complete":"false","x":662,"y":561,"wires":[]},{"id":"f753ff5e.05c57","type":"http in","z":"42677cc4.280d14","name":"","url":"/sensors/buttons/2","method":"get","upload":false,"swaggerDoc":"","x":243,"y":630,"wires":[["39723085.08a11"]]},{"id":"39723085.08a11","type":"function","z":"42677cc4.280d14","name":"","func":"msg.payload = '{\"2\" : button 2}';\nreturn msg;","outputs":1,"noerr":0,"x":434,"y":630,"wires":[["4e542df2.85f454"]]},{"id":"4e542df2.85f454","type":"debug","z":"42677cc4.280d14","name":"","active":true,"console":"false","complete":"false","x":604,"y":631,"wires":[]},{"id":"89ddaccf.f8d2b","type":"http in","z":"42677cc4.280d14","name":"","url":"/sensors/buttons","method":"get","upload":false,"swaggerDoc":"","x":238,"y":509,"wires":[["f0740c70.02eac"]]},{"id":"f0740c70.02eac","type":"function","z":"42677cc4.280d14","name":"","func":"msg.payload = '{\"buttons\" : /1},' + '{\"buttons\" : /2}';\nreturn msg;","outputs":1,"noerr":0,"x":432,"y":505,"wires":[["3796505.ead75b"]]},{"id":"3796505.ead75b","type":"debug","z":"42677cc4.280d14","name":"","active":true,"console":"false","complete":"false","x":617,"y":506,"wires":[]},{"id":"55adaad.2eebd54","type":"http in","z":"42677cc4.280d14","name":"","url":"/sensors/acce1/x","method":"get","upload":false,"swaggerDoc":"","x":223,"y":802,"wires":[["73f73d6.31968c4"]]},{"id":"73f73d6.31968c4","type":"function","z":"42677cc4.280d14","name":"","func":"msg.payload = '{\"Acceleration\" : \"value X\"}';\nreturn msg;","outputs":1,"noerr":0,"x":443,"y":801,"wires":[["6fc7976d.87ff78"]]},{"id":"6fc7976d.87ff78","type":"debug","z":"42677cc4.280d14","name":"","active":true,"console":"false","complete":"false","x":647,"y":802,"wires":[]},{"id":"34a7cca4.3c0004","type":"http in","z":"42677cc4.280d14","name":"","url":"/sensors/acce1/y","method":"get","upload":false,"swaggerDoc":"","x":228,"y":871,"wires":[["4da1f711.e66c58"]]},{"id":"4da1f711.e66c58","type":"function","z":"42677cc4.280d14","name":"","func":"msg.payload = '{\"Acceleration\" : \"value Y\"}';\nreturn msg;","outputs":1,"noerr":0,"x":419,"y":871,"wires":[["eaba5ba0.ac8f08"]]},{"id":"eaba5ba0.ac8f08","type":"debug","z":"42677cc4.280d14","name":"","active":true,"console":"false","complete":"false","x":589,"y":872,"wires":[]},{"id":"aa592623.28e4e8","type":"http in","z":"42677cc4.280d14","name":"","url":"/sensors/acce1","method":"get","upload":false,"swaggerDoc":"","x":213,"y":750,"wires":[["f7a99977.cba118"]]},{"id":"f7a99977.cba118","type":"function","z":"42677cc4.280d14","name":"","func":"msg.payload = '\"acce1\" : [\"/x\",\"/y\",\"/z\"]';\nreturn msg;","outputs":1,"noerr":0,"x":361,"y":749,"wires":[["2540703b.15405"]]},{"id":"2540703b.15405","type":"debug","z":"42677cc4.280d14","name":"","active":true,"console":"false","complete":"false","x":546,"y":750,"wires":[]},{"id":"df7622ed.ed2d","type":"http in","z":"42677cc4.280d14","name":"","url":"sensors/tilt","method":"get","upload":false,"swaggerDoc":"","x":202,"y":998,"wires":[["bc506c07.55f04"]]},{"id":"bc506c07.55f04","type":"function","z":"42677cc4.280d14","name":"","func":"msg.payload = '\"tilt\" : [\"/x\",\"/y\",\"/z\"]';\nreturn msg;","outputs":1,"noerr":0,"x":442,"y":997,"wires":[["25741b8a.3fc404"]]},{"id":"25741b8a.3fc404","type":"debug","z":"42677cc4.280d14","name":"","active":true,"console":"false","complete":"false","x":646,"y":998,"wires":[]},{"id":"5f9d3a8f.5d1a04","type":"http in","z":"42677cc4.280d14","name":"","url":"/sensors/tilt/x","method":"get","upload":false,"swaggerDoc":"","x":217,"y":1067,"wires":[["253a79bf.2a7b26"]]},{"id":"253a79bf.2a7b26","type":"function","z":"42677cc4.280d14","name":"","func":"msg.payload = '{\"Gyroscope\" : \"value X\"}';\nreturn msg;","outputs":1,"noerr":0,"x":418,"y":1067,"wires":[["f257f195.bc714"]]},{"id":"f257f195.bc714","type":"debug","z":"42677cc4.280d14","name":"","active":true,"console":"false","complete":"false","x":588,"y":1068,"wires":[]},{"id":"75e506e4.83e8e8","type":"http in","z":"42677cc4.280d14","name":"","url":"/sensors/acce1/z","method":"get","upload":false,"swaggerDoc":"","x":222,"y":946,"wires":[["b0a843a9.88cc3"]]},{"id":"b0a843a9.88cc3","type":"function","z":"42677cc4.280d14","name":"","func":"msg.payload = '{\"Acceleration\" : \"value Z\"}';\nreturn msg;","outputs":1,"noerr":0,"x":416,"y":942,"wires":[["8722c155.00e5c"]]},{"id":"8722c155.00e5c","type":"debug","z":"42677cc4.280d14","name":"","active":true,"console":"false","complete":"false","x":601,"y":943,"wires":[]},{"id":"ccbdcfe9.7d1c6","type":"http in","z":"42677cc4.280d14","name":"","url":"/sensors/tilt/z","method":"get","upload":false,"swaggerDoc":"","x":223,"y":1278,"wires":[["382d3707.92d968"]]},{"id":"382d3707.92d968","type":"function","z":"42677cc4.280d14","name":"","func":"msg.payload = '{\"Gyroscope\" : \"value Z\"}';\nreturn msg;","outputs":1,"noerr":0,"x":453,"y":1277,"wires":[["7a1958e5.a0e028"]]},{"id":"7a1958e5.a0e028","type":"debug","z":"42677cc4.280d14","name":"","active":true,"console":"false","complete":"false","x":657,"y":1278,"wires":[]},{"id":"97e3c736.d30708","type":"http in","z":"42677cc4.280d14","name":"","url":"/sensors/tilt/y","method":"get","upload":false,"swaggerDoc":"","x":209,"y":1210,"wires":[["1c1053f5.01fb9c"]]},{"id":"1c1053f5.01fb9c","type":"function","z":"42677cc4.280d14","name":"","func":"msg.payload = '{\"Gyroscope\" : \"value Y\"}';\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":1210,"wires":[["ae07228b.c0749"]]},{"id":"ae07228b.c0749","type":"debug","z":"42677cc4.280d14","name":"","active":true,"console":"false","complete":"false","x":580,"y":1211,"wires":[]}]