E5-NodeRED/Q1/clipboard.txt
[{"id":"d5e3a422.a8ac18","type":"inject","z":"8eadf470.1bf758","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":130,"y":120,"wires":[["4cec33f0.2eecac"]]},{"id":"2c8bd115.b03ace","type":"function","z":"8eadf470.1bf758","name":"Retorno","func":"var data = JSON.parse(msg.payload);\nconsole.log(data.temperature);\n//msg = data.temperature + \" graus C\";\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":340,"wires":[["237b24a9.ef214c"]]},{"id":"4cec33f0.2eecac","type":"http request","z":"8eadf470.1bf758","name":"Request Temp","method":"GET","ret":"obj","url":"http://localhost:8686/sensors/temperature","tls":"","x":320,"y":140,"wires":[["a3c93ecb.badc7"]]},{"id":"a3c93ecb.badc7","type":"json","z":"8eadf470.1bf758","name":"","pretty":true,"x":390,"y":240,"wires":[["2c8bd115.b03ace"]]},{"id":"237b24a9.ef214c","type":"mqtt out","z":"8eadf470.1bf758","name":"","topic":"temperatura","qos":"","retain":"","broker":"8aeb65d8.869bf8","x":682.5,"y":339,"wires":[]},{"id":"8aeb65d8.869bf8","type":"mqtt-broker","z":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]
